- if role == :participant
  - content_for :javascript do
    initialize_reply_form('#{I18n.locale}');
  :javascript
    var actionForm = function(event){
      event.preventDefault()
      $textarea = $('#new_message').find('textarea#message_content')
      message = $textarea.val()
      $current_form = $(event.target).parents('form:first')
      if(message.length){
        $new_textarea = $textarea.clone()
        $new_textarea.attr('name', 'listing[content]')
        $new_textarea.hide()
        $current_form.append($new_textarea)
      }
      $current_form.submit()
    }

  #reply_form.message-avatar-padding.message-reply-form
    = form_for message_form, :url => message_form_action do |f|
      = f.label :content, t("conversations.show.write_a_reply")
      = f.text_area :content, :class => "reply_form_text_area"
      = f.hidden_field :conversation_id
      = f.button t("conversations.show.send_reply")
    .row
      .col-9{style: 'float:right; margin-top: -90px'}
        - if listing.can_be_accepted? @current_user
          .col-4{style: 'float:right;margin-right:0'}
            = form_for listing, {url: update_listing_status_listings_path(id: listing.id), method: :put} do |f|
              .conversation-status
                = f.button t("conversations.show.send_accept"), onclick: 'actionForm(event)', class: 'status-link confirm', style: 'float:right;margin-right:0'
                = f.hidden_field :provider_id, value: tx[:starter_id]
                = hidden_field :listing, :conversation_id, value: message_form.conversation_id
                = f.hidden_field :status, :value => Listing.statuses[:accepted]

        - if listing.can_be_canceled?(@current_user, tx[:starter_id]) && !listing.has_pending_transaction?
          .col-5{style: 'float:right;margin-right:0'}
            = form_for listing, {url: update_listing_status_listings_path(id: listing.id), method: :put} do |f|
              .conversation-status
                = f.button t("conversations.show.send_cancel"), onclick: 'actionForm(event)', class: 'status-link confirm', style: 'background: #e8e8e8; float:right;margin-right:0px'
                = f.hidden_field :provider_id, value: tx[:starter_id]
                = hidden_field :listing, :conversation_id, value: message_form.conversation_id
                = f.hidden_field :status, :value => Listing.statuses[:active]

        - if listing.can_be_undertaken? @current_user
          - if @current_user.stripe_account_connected?
            .col-4{style: 'float:right;margin-right:0'}
              = form_for listing, {url: update_listing_status_listings_path(id: listing.id), method: :put} do |f|
                .conversation-status
                  = f.button t("conversations.show.send_undertake"), onclick: 'actionForm(event)', class: 'status-link confirm'
                  = f.hidden_field :provider_id, value: tx[:starter_id]
                  = hidden_field :listing, :conversation_id, value: message_form.conversation_id
                  = f.hidden_field :status, :value => Listing.statuses[:undertaken]
          - else
            .col-4{style: 'float:right;margin-right:0'}
              .conversation-status
                = link_to t("conversations.show.send_undertake"), stripe_oauth_path(redirect_back: message_form.conversation_id) , class: 'btn btn-lg btn-primary status-link confirm', style: 'padding-top: 7px'

        - if listing.can_be_completed? @current_user
          .col-4{style: 'float:right;margin-right:0'}
            = form_for listing, {url: update_listing_status_listings_path(id: listing.id), method: :put} do |f|
              .conversation-status
                = f.button t("conversations.show.send_complited"), onclick: 'actionForm(event)', class: 'status-link confirm'
                = f.hidden_field :provider_id, value: tx[:starter_id]
                = hidden_field :listing, :conversation_id, value: message_form.conversation_id
                = f.hidden_field :status, :value => Listing.statuses[:completed]

        - if listing.ready_to_pay? @current_user, tx[:starter_id]
          .col-6{style: 'float:right;margin-right:0'}
            .conversation-status
              = render 'transactions/payment_form', locals: {payment_gateway: payment_gateway, delivery_opts: delivery_opts, process: process, listing_unit_type: listing_unit_type, country_code: country_code, blocked_dates_end_on: blocked_dates_end_on, blocked_dates_result: blocked_dates_result}
#messages
  = render partial: 'conversations/message', collection: messages, as: :message_or_action

